<ion-view style="" class=" " id="page1" title="Tabs Controller" >
    <ion-tabs style="" id="tabsController-tabs1" class="tabs-icon-top" ng-class="{ 'tabs-light': !settings.nightMode, 'tabs-dark': settings.nightMode }">
        <!--ion-tab class=" " id="tabsController-tab6" title="Notifications" icon="ion-ios-bell" badge="unreadNotifs > 0 && unreadNotifs" badge-style="badge-assertive" href="#/page1/notifications">
            <ion-nav-view name="tab6"></ion-nav-view>
        </ion-tab-->
        <ion-tab class=" " id="tabsController-tab5" title="Favorites" icon="ion-star" href="#/page1/favorites">
            <ion-nav-view name="tab5"></ion-nav-view>
        </ion-tab>
        <!--ion-tab class=" " id="tabsController-tab6" title="Search" icon="ion-search" href="#/page1/search">
            <ion-nav-view name="tab6"></ion-nav-view>
        </ion-tab-->
        <ion-tab class=" " id="tabsController-tab4" title="Livecounts" icon="ion-arrow-graph-up-right" href="#/page1/livecounts">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
        <ion-tab class=" " id="tabsController-tab2" title="Settings" icon="ion-android-settings" href="#/page1/settings">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab class=" " id="tabsController-tab3" title="Info" icon="ion-ios-information" href="#/page1/info">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>